/*

Styl je pouzit pro vytvoreni PDF souboru pro tisk kontrolniho listu studentu

*/

#hlavicka {
    font-weight: normal;
    font-family: sans-serif;
    margin-top: 18px;
    margin-bottom: 20px;
    border-top: 0.075cm solid #000000;
    border-bottom: 0.075cm solid #000000;
}

#logo {
    float:left;
//    border:1px solid black;
    width:20%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#nazev {
    float:right;
    font-family: sans-serif;
//    border:1px solid black;
    width: 79%;
}


img {
    width: 117px;
    height: 102px;
}

h1  {
    text-align: center;
    font-size: 18px;
}

h2  {
    text-align: center;
    font-size: 14px;
}

p {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 35px;
}

.udaje {
    font-family: sans-serif;
    border-collapse: collapse;
    border: 1px solid black;
    align-self: center;
    width: 100%;
}
.udaje td {
    padding: 5px;
}


.podpis {
    align-self: center;
    font-family: sans-serif;
    width: 100%;
    padding-top: 20px;
}

.podpis td {
    text-align: center;
    width: 50%;
}

.razitko {
    align-self: center;
    font-family: sans-serif;
    width: 100%;
    padding-top: 40px;
}

.razitko td {
    text-align: center;
    width: 50%;
}

