/*----------------------------------------------
CSS Settings For HTML Div ExactCenter
------------------------------------------------*/
body {
    font-family: sans-serif;
}


#main {
    width:90%;
    margin:50px auto;
}
#login {
    margin: auto;
    width: 20%;
    padding:10px 40px 25px;
    border-radius:10px;
    border:2px solid #ccc;
}
#login label {
    float:left;
    padding-top: 20px;
}
#login h1 {
    font-size: 40px;
    text-align:center;
    padding:15px
}
h2 {
    background-color: #FEFFED; /*FEFFED*/
    text-align:center;
    border-radius:8px 8px 0 0;
    margin: -10px -40px;
    padding:15px;
}
hr {
    border:0;
    border-bottom:1px solid #ccc;
    margin:10px -40px;
    margin-bottom:30px
}
#login input[type=text],input[type=password] {
    width:95%;
    padding:10px;
    margin-top:8px;
    border:1px solid #ccc;
    font-size:16px;
    margin-bottom:15px
}
#login input[type=submit] {
    width:100%;
    background-color:#FFBC00;
    color:#fff;
    border:2px solid #FFCB00;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
    margin-bottom:15px
}
#profile {
    padding:50px;
    border:1px dashed grey;
    font-size:20px;
    background-color:#DCE6F7
}

#search_vyber {
    width:20%;
    padding: 5px 10px 5px 10px;
    margin-top:8px;
    border:1px solid #ccc;
    font-size:16px;
    margin-bottom:15px;
    height:40px;
}

#search_sprava {
    width:20%;
    padding: 5px 10px 5px 10px;
    margin-top:8px;
    border:1px solid #ccc;
    font-size:16px;
    margin-bottom:15px;
    height:40px;
}

.button {
    background-color: firebrick;
    color: white;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    margin: 4px 2px;
    cursor: pointer;
}


#logout {
    float:right;
    padding:5px;
    border:dashed 1px gray
}


